<IfModule mod_rewrite.c>
    RewriteEngine On

  
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^lkfbearings\.com [NC]
    RewriteRule ^(.*)$ https://www.lkfbearings.com/$1 [L,R=301]


    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>